<div class="container p-3 border border-2 border-dark">
    <div class="row">
        <div class="col">
            <form>
                <div>
                    <input type="text" name="postcode" id="postcode" class="form-control" placeholder="Enter postal code" value="" />
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3 mb-3">Tell me the Weather</button>
            </form>
        </div>
    </div>
    <div class="row border border-1 border-info m-1">
        <div class="col p-3">
            <strong>Result</strong>
            <div id="spinner" class="d-flex justify-content-center d-none">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div id="result" class="row d-none">
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col p-2">
            <div class="float-end">
                Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a>
            </div>
        </div>
    </div>
</div>
