<!DOCTYPE html>
<html>
  <head>
    <title>Weather app</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          Weather app
        </a>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
